*{
  box-sizing: border-box;
  margin: 0;
}
html,body{
  height: 100%;
}
body{
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #F5F7FB;
  font-family: Karla;
}
main{
  padding: 1rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen{
  padding: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.start-screen > h1 {
  color: #293264;
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  font-weight: 700;
}
.start-screen > p {
  color: #293264;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.8125rem;
}
.start-screen > .select-container{
  display: flex;
}
.start-screen > button{
  width: 12.0625rem;
  height: 3.25rem;
  border: none;
  border-radius: 0.9375rem;
  background: #4D5B9E;
  color: #F5F7FB;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}
.questions-container{
  border-radius: 1rem;
  background-color: #f5feff;
  border: 1px solid black;
  margin: 3rem 0;
  padding: 2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.question{
  text-align: left;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #DBDEF0;
}
.question > h1{
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.answers{
  display: flex;
  gap: 0.5rem
}
/* Style radio buttons as regular buttons */
.choice-radio {
  color: #293264;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #4D5B9E;
  cursor: pointer;
}

.choice-radio input[type="radio"] {
  display: none;
}
.choice-radio.selected{
  background-color: #D6DBF5;
}
button{
  width: 400px;
  height: 50px;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 1rem;
  color: #F5F7FB;
  background-color: #4D5B9E;
  font-weight: 700;
  border-radius: 1rem;
}
.answer-count{
  margin: 1rem auto 0 auto;
}
.choice-radio.incorrect {
  background-color: #F8BCBC;
  border: none;
}

.choice-radio.correct {
  border: none;
  background-color: #94D7A2;
}
