*{
  box-sizing: border-box;
  margin: 0;
}
html,body{
  height: 100%;
}
body{
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #F5F7FB;
  font-family: Karla;
}
main{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.start-screen > h1 {
  width: 25.75rem;
  height: 2.5625rem;
  color: #293264;
  font-size: 1.95313rem;
  font-weight: 700;
}
.start-screen > p {
  width: 19.875rem;
  height: 1.1875rem;
  color: #293264;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.8125rem;
}
.start-screen > button{
  width: 12.0625rem;
  height: 3.25rem;
  border: none;
  border-radius: 0.9375rem;
  background: #4D5B9E;
  color: #F5F7FB;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}
.questions-container{
  margin: 3rem 0;
  padding: 0.25rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 80%;
}
.question{
  text-align: left;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid gray;
}
.question > h1{
  font-size: 1rem;
}
.answers{
  display: flex;
  gap: 0.5rem
}
.choice{
  color: blue;
  padding: 0.5rem;
  border-radius: .5rem;
  border: 1px solid blue;
}
button{
  width: 400px;
  height: 50px;
  margin: 2rem auto 0 auto;
  padding: 0.5rem;
  font-size: 10px;
  color: #F5F7FB;
  background-color: #4D5B9E;
  font-weight: 700;
  border-radius: 1rem;
}
